header {
    width: 100%;

    .img-header {
        width: 105%; //背景填滿 
    }
    
    .img-back {
        width: 40px;
        position: absolute;
        top: 20px;
        left: 10px;
    }
}

.login-conatiner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    img {
        margin-bottom: 50px;
    }

    .img-logo {
        width: 150px;
    }
}