<header>
    <img class="img-header" src="assets/header/main/bar_main_mini.png" alt="">
    <img class="img-back" src="assets/images/icon/icon_back.png" alt="">
</header>

<div class="login-conatiner">
    <img class="img-logo" src="assets/images/logo/logo.png" alt="">
    <img src="assets/images/button/btn_google-auth.png" (click)="clickSignIn()">
</div>
