
.review-container {
    max-width: 800px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px;

    label {
        color: #661983;
        margin-right: 30px;
    }

    .title {     
        font-size: 25px;
    }

    .title-second {
        padding: 0px 10px;   
        font-size: 20px;
    }

    .content {
        padding: 0px 20px;   
        font-size: 20px;        
    }

    .select-item {
        color: #661983;
        font-size: 20px;         
        background: #FBE0FF;
        padding: 10px 30px;
        border-radius: 100px;
        margin-right: 15px;
    }
}

.progress-bar {
    width: 100%;
    height: 40px;
    background: #FBE0FF;
    border-radius: 5px;
    margin: 0px 20px;  
    padding: 5px; 

    .progress {
        width: 70%;
        height: 100%;
        border-radius: 5px;
        background: #661983;
    }
}










///////////////////////////////////////////////////////

.container {
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 40px;
}

.calendar-picker {
    width: 350px;
    .calendar-header {                
        background: #661983;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        font-size: 20px;
    }

    .calendar-content {
        .grid-row {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;

            .grid {                
                width: 14%;
                //height: 40px;
                text-align: center; /* 文本水平居中 */
                padding: 12px 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .no-selected {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 35px;
                    height: 35px;
                }

                .selected {
                    background: #661983;
                    color: white;
                    border-radius: 100%;
                }

                .rate {
                    font-size: 15px;       
                    color: #661983;                                
                }
            }
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////

.dialog-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
    //align-items: center;
}

.dialog-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: gray;
    opacity:0.5;
}

.dialog {
    background: white;
    width: 250px;
    height: 400px;
    position: fixed;
    top: 10%;
    opacity:1.0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .dialog-header {
    }

    .dialog-content {
        .row {            
            color: #661983;
            padding: 5px; 
            font-size: 25px;
        }
    }

    .dialog-footer {
        .img-next {
            width: 40px;
            height: 40px;
        }
    }
}
