

<div class="review-container">    
    <div class="row">
        <label class="title">剩餘空間</label>
        <div class="select-item">今日</div>
    </div>
    <div class="row">
        <label class="title-second">所有剩餘空間</label>
    </div>
    <div class="row">
        <label class="content">140 / 200間 (70%)</label>
    </div>       
    <div class="row">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>   
</div>


<div class="review-container"> 
    <div class="row">
        <label class="title">空間種類</label>
        <div class="select-item" (click)="showRoomDialog()"> {{ _selectRoomType }} </div>
    </div>
    
       
    <div class="row">
        <label class="title-second">剩餘空間</label>
        <div class="select-item" (click)="showDialog()"> {{ showRate }} %</div>
        <label class="title-second">以下</label>
    </div>

    <div class="container">
        <div class="calendar-picker">
            <div class="calendar-header">
                <img src="assets/images/icon/icon_back.png" (click)="backMonth()">
                {{ currentYear }} 年 {{ currentMonth }} 月
                <img src="assets/images/icon/icon_next.png" (click)="nextMonth()">
            </div>
            <div class="calendar-content">
                <div class="grid-row">
                    <div class="grid">日</div>
                    <div class="grid">一</div>
                    <div class="grid">二</div>
                    <div class="grid">三</div>
                    <div class="grid">四</div>
                    <div class="grid">五</div>
                    <div class="grid">六</div>
                </div>
                <div class="grid-row">
                    <div 
                        class="grid" 
                        *ngFor="let number of [].constructor(displayAllDayGrid); let i = index"  
                        (click)="selectDate( i + 1 - currentMonthFirstDayWeekly )"                     
                        [id]="'grid-' + ( i + 1 - currentMonthFirstDayWeekly )">
                            <div class="no-selected"
                                 [ngClass]="{ 'selected': _selectDate === i + 1 - currentMonthFirstDayWeekly }"
                                 *ngIf="i + 1 > currentMonthFirstDayWeekly">
                                    {{ i + 1 - currentMonthFirstDayWeekly }}
                            </div>
                            <div *ngIf="isShowRate( currentMonthRoomRemainingRoomRate[i] )" class="rate">
                                {{ currentMonthRoomRemainingRoomRate[i] }} %
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 選擇剩餘空間% dialog -->
<div class="dialog-container" [ngStyle]="{ display: isHiddenDialog ? 'none' : 'flex' }">
    <div class="dialog-mask" (click)="hiddenDialog()">
    </div>
    <div class="dialog">
        <div class="dialog-header">
        </div>
        <div class="dialog-content">        
            <div class="row" (click)="selectRate(10)">
                10 %
            </div>          
            <div class="row" (click)="selectRate(20)">
                20 %
            </div>        
            <div class="row" (click)="selectRate(30)">
                30 %
            </div>        
            <div class="row" (click)="selectRate(40)">
                40 %
            </div>        
            <div class="row" (click)="selectRate(50)">
                50 %
            </div>  
        </div>
        <div class="dialog-footer">
            <img class="img-next" src="assets/images/icon/icon_next.png" (click)="hiddenDialog()">    
        </div>
    </div>
</div>

<!-- 選擇空間種類 dialog -->
<div class="dialog-container" [ngStyle]="{ display: isHiddenRoomDialog ? 'none' : 'flex' }">
    <div class="dialog-mask" (click)="hiddenRoomDialog()">
    </div>
    <div class="dialog">
        <div class="dialog-header">
        </div>
        <div class="dialog-content">        
            <div class="row" (click)="selectRoomType(roomType.all)">
                全部
            </div>          
            <div class="row" (click)="selectRoomType(roomType.roomBooking)">
                教室預約
            </div>        
            <div class="row" (click)="selectRoomType(roomType.siteBooking)">
                座位預約
            </div>   
        </div>
        <div class="dialog-footer">
            <img class="img-next" src="assets/images/icon/icon_next.png" (click)="hiddenRoomDialog()">    
        </div>
    </div>
</div>
