
.menu-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .button-container {
        position: relative;
        margin-bottom: 50px;
        
        .text-btn {
            position: absolute;
            top: 40%;
            left: 30%;
            color: white;
            font-size: 30px;
        }

    }
}