<div class="menu-container">
    <div class="button-container" (click)="selectForm('room')">
        <img src="assets/images/button/button_main.png">
        <div class="text-btn">
            教室預約
        </div>
    </div>
    <div class="button-container" (click)="selectForm('site')">
        <img src="assets/images/button/button_main.png">
        <div class="text-btn">
            座位預約
        </div>
    </div>
</div>