
<div class="menu-container">
    <div class="button-container" (click)="clickBooking()">
        <img src="assets/images/button/button_main.png" alt="">
        <div class="text-btn">
            預約空間
        </div>
    </div>
    <div class="button-container" (click)="clickReviewBooking()">
        <img src="assets/images/button/button_main.png" alt="">
        <div class="text-btn">
            已借用中
        </div>
    </div>
    <div class="button-container" (click)="clickReviewRoomOverview()">
        <img src="assets/images/button/button_main.png" alt="">
        <div class="text-btn">
            空間總攬
        </div>
    </div>
    <div class="button-container" (click)="clickPayment()">
        <img src="assets/images/button/button_main.png" alt="">
        <div class="text-btn">
            購買方案
        </div>
    </div>
</div>
