

.form-container {
    max-width: 800px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px;

    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;

        label {
            color: #661983;
            margin-right: 30px;
            font-size: 25px;
        }

        .select-item {
            color: #661983;
            font-size: 20px;         
            background: #FBE0FF;
            padding: 10px 30px;
            border-radius: 100px;
            margin-right: 15px;
        }
    }

    .row-time {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 25px;
        width: 80%;
        padding: 10px;
        color: #661983;
        font-size: 20px;    
    }
}

img {
    height: 40px;
}
